# DTSA 5734: SQL Core

## Course Overview and Quick Reference Guide

This notebook serves as a comprehensive overview and quick reference guide for the key concepts, techniques, and implementations covered in this course.

### Course Objectives
- Mastering SQL fundamentals and advanced queries
- Understanding database manipulation and management
- Implementing complex joins and subqueries
- Optimizing SQL performance

In [ ]:
# Import common libraries
import sqlite3
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Display settings
%matplotlib inline
plt.style.use('seaborn')

## Week 1: SQL Fundamentals

### Key Concepts
- SELECT statements
- WHERE clauses
- ORDER BY and GROUP BY
- Aggregate functions

### Important Terms
- DML (Data Manipulation Language)
- DDL (Data Definition Language)
- DCL (Data Control Language)
- TCL (Transaction Control Language)

### Code Examples

In [ ]:
def basic_sql_queries():
    """Demonstrate basic SQL queries"""
    conn = sqlite3.connect('sample.db')
    
    # Basic SELECT
    query1 = "SELECT * FROM customers WHERE age > 25 ORDER BY name"
    
    # Aggregation
    query2 = """
        SELECT 
            country,
            COUNT(*) as customer_count,
            AVG(age) as avg_age
        FROM customers
        GROUP BY country
        HAVING COUNT(*) > 10
    """
    
    # Execute queries using pandas
    df1 = pd.read_sql_query(query1, conn)
    df2 = pd.read_sql_query(query2, conn)
    
    conn.close()
    return df1, df2

## Week 2: Advanced Queries and Joins

### Key Concepts
- INNER JOIN
- LEFT/RIGHT/FULL OUTER JOIN
- Subqueries
- Common Table Expressions (CTEs)

### Important Terms
- Join conditions
- Self joins
- Correlated subqueries
- Window functions

### Code Examples

In [ ]:
def advanced_sql_queries():
    """Demonstrate advanced SQL queries"""
    conn = sqlite3.connect('sample.db')
    
    # Complex JOIN
    query = """
        WITH monthly_sales AS (
            SELECT 
                customer_id,
                strftime('%Y-%m', order_date) as month,
                SUM(amount) as total_amount,
                COUNT(*) as order_count
            FROM orders
            GROUP BY customer_id, month
        )
        SELECT 
            c.name,
            ms.month,
            ms.total_amount,
            ms.order_count,
            AVG(ms.total_amount) OVER (
                PARTITION BY c.customer_id 
                ORDER BY ms.month 
                ROWS BETWEEN 2 PRECEDING AND CURRENT ROW
            ) as moving_avg
        FROM customers c
        JOIN monthly_sales ms ON c.customer_id = ms.customer_id
        ORDER BY c.name, ms.month
    """
    
    df = pd.read_sql_query(query, conn)
    conn.close()
    return df